h1{
    text-align: center;
}
div{
    width: 500px;
    height: 500px;
    padding: 50px;
    margin-left:400px;
    border: solid black;
}
#Two{
    width: 300px;
    height: 300px;
    padding: 50px;
    margin: 0;
     border: solid black;
     translate: 500px -500px;
}
#Three{
    width: 100px;
    height: 100px;
    padding: 50px;
    margin: 0;
    border: solid black;
    translate: 600px -800px;
}